.box{
    width: 100px;
    height:100px;
    border:2px solid black;
    
    
}
table{
    border-collapse:collapse;
    margin:auto;
}
td{
    text-align:center;
    font-size:50px;
    font-weight:700;
}

body{
    background-color: skyblue;
}

button{
    display:block;
    margin:auto;
    width:200px;
    height:100px;
    background-color: yellow;
    color: red;
}